<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <table class="table table-striped table-bordered">
        <tr class="table-dark">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for student in users: %}
        <tr class="table-light">
            <td>{{student['first_name']}}</td>
            <td>{{student['last_name']}}</td>
            <td>{{student['first_name']}} {{student['last_name']}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>