<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center">Welcome!</h1>
    <div class="inner">
        {% for x in range(0,times) %}
            <div style="background-color: {{ color }}; height: 200px; width: 200px; margin: 10px; display:inline-block"> </div>
        {% endfor %}
    </div>

</body>
</html>